.login{
    margin-top: $headerHeight;
    height: calc(100vh - #{$footerHeight} - #{$headerHeight});

    @include from(l){
        margin-top: $headerHeightDesktop;
        min-height: calc(100vh - #{$footerHeight} - #{$headerHeight} + 7.4rem);
    }

    &__container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title{
        font-size: 2.5rem;
        text-align: center;
        color: #1291ed;
        padding-bottom: .5rem;

        @include from(l){
            font-size: 3.4rem;
            padding-bottom: 1.4rem;
        }
    }

    &__form{
        width: 75%;
        padding-bottom: .5rem;

        @include from(l){
            width: 25%;
            padding-bottom: .8rem;
        }
    }

    &__formSection{
        padding-bottom: .8rem;

        @include from(l){
            padding-bottom: 1.2rem;
        }
    }

    &__input{
        border-radius: .25em;
        border: 1px solid $borderColor;
        width: 100%;
        height: 2.4rem;
        padding-left: .8rem;
        font-size: 1rem;

        @include from(l){
            height: 2.8rem;
            font-size: 1.2rem;
        }
    }

    &__button{
        width: 100%;
        height: 2.4rem;
        border-radius: .25em;
        border: 1px solid #1291ed;
        color: #1291ed;
        font-size: 1rem;

        @include from(l){
            height: 2.8rem;
            font-size: 1.2rem;
        }
    }

    &__button:hover{
        color: white;
        background-color:#1291ed;
        cursor: pointer;
    }

    &__descriptionRegister{
        width: 100%;
        padding-top: .8rem;
        font-size: 1rem;

        @include from(l){
            padding-top: 1rem;
            font-size: 1.1rem;
        }
    }

    &__registerLink{
        color: #1291ed;
    }

    &__error{
        visibility: hidden;
        height: 2.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        border-radius: .25em;
        padding: 0 .4em 0 .4em;

        @include from(l){
            height: 2.8rem;
            font-size: 1.2rem;
            padding: 0 .5em 0 .5em;
        }
    }
}

.loginError::placeholder{
    color: #9b5f5f;
}

.loginError{
    visibility: visible;
    color: #9b5f5f;
    background-color: #ffebeb;
    border: 1px solid #f7bbbb;
}

